<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>To do list</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<script data-main="js/app.js" src="js/require.js"></script>
</head>
<body>
	<h1>To Do List</h1>
	<script type="text/template" id="wrapper-template">
		<div class="wrapper">
			<ul class="item-list">
			</ul>
			<div class="controlls">
				<input type="text" class="item-value">
				<button class="item-add">Добавить</button>
				<button class="btn-change">Изменить</button>
			</div>
		</div>
	</script>
	<script type="text/template" id="list-template">
		<% for (var i =0; i < data.length; i++) { %>
		<li><%= data[i] %> <span data-value="<%= data[i] %>" class="item-delete"></span> <span data-value="<%= data[i] %>" data-index="<%= [i] %>"class="item-exchange"></span>  </li>
		<% }; %>
	</script>
</body>
</html>